[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
motor = "*"
python-jose = {extras = ["cryptography"], version = "*"}
aioredis = "*"
pydantic = {extras = ["email"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
python-dotenv = "*"
bcrypt = "*"
xendit-python = "*"
orjson = "*"
ipython = "*"
python-multipart = "*"
faker = "*"
typing-extensions = "*"
filetype = "*"
gunicorn = "*"
slowapi = "*"
popol = ">=0.2.2"
saq = {extras = ["hiredis"], version = "*"}
sentry-sdk = "*"

[dev-packages]
black = "*"
pre-commit = "*"
tox = "*"
pytest = "*"
pytest-order = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
