[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
motor = "*"
python-jose = {extras = ["cryptography"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
python-dotenv = "*"
bcrypt = "*"
xendit-python = "*"
orjson = "*"
python-multipart = "*"
faker = "*"
typing-extensions = "*"
filetype = "*"
gunicorn = "*"
popol = ">=0.4.0"
saq = {version = ">=0.8.0", extras = ["hiredis"]}
sentry-sdk = "*"

[dev-packages]
black = "*"
pre-commit = "*"
ipython = "*"
tox = "*"
pytest = "*"
pytest-order = "*"
qrcode = {extras = ["pil"], version = "*"}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
